// Common style 
%formStyle {
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 20px;
	padding: 3px;
	width: 97%;
}

%textAreaStyle {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	width: 97%;
}