// -------- ---------- Variables -------- ---------- 

// Site colors 
$dark: #333;
$whiteColor: #fff;
$blackColor: #000;
$orangyColor: #ff0000;
$lightGreyColor: #f4f4f4;
$midGreyColor: #ccc;

$footerBackground: $dark;
$footerColor: $whiteColor;


// Tybography
$baseFont: 'PT Sans', sans-serif;
$baseFontSize: 125%;
$baselineHeight: 1.2em;
$headingFontWeight: bold;
$baseHeaderHeight: 50px;

// Links
$linkColor: $dark;
$linkHoverColor: $orangyColor;