// General style
body {
	padding-top: 50px;
}

section {
	padding: 40px 0;
}

section#title-bar {
	height: 80px;
	background: #1caa98;
	padding: 0;
	color: #fff;
}

.em-text {
	color: #1caa98 !important;
}

.col-md-4 {
	margin-bottom: 20px;
}

img.demo {
	padding: 3px;	
	border: 1px solid #ccc;
}