@import "libs/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "animate.scss";

$primaryColor: #0383c0;
$secondaryColor: #e44d26;
$grayColor: #f4f4f4;
$whiteColor: #fff;

body {
    padding-top: 90px;
}

section {
    padding: 30px 0;
}

.section-gray {
    background: $grayColor;
}

.section-primary {
    background: $primaryColor;
    color: $whiteColor;
    padding: 60px 0;
}

.section-secondary {
    background: $secondaryColor;
    color: #fff;
    padding: 60px 0;
}

.navbar {
    min-height: 90px;   
    margin-bottom: 0 !important;
}

.nav {
    margin-top: 18px;
}

.navbar-brand {
    height: auto;
    padding-top: 15px;
    margin: 0;
}

.navbar-nav {
    padding: 0;
    margin: 0;

    li {
        padding: 5px 0;
    }
}

.navbar-nav > li > a {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald', arial, verdana, sans-serif;
    text-transform: uppercase;
    border-right: 1px solid #ccc;

    span {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: 14px;
        display: block;
        font-weight: normal;
        font-family: arial, sans-serif;
        text-transform: none;
    }
}

.navbar-nav > li.active > a,
.navbar-nav > li > a:hover {
    background: $primaryColor !important;
    color: $whiteColor !important;
}

.jumbotron {
    margin: 0 !important;
    min-height: 450px;
    background: url(../img/bg.jpg) no-repeat;
}

h1, h2 ,h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.jumbotron h1 {
    font-size: 55px;   
}

.fa-color {
    color: $primaryColor;
}


.slogan {
    text-align: center;

    h1 {
        font-size: 50px;
        margin-bottom: 25px;
    }

    p {
        font-size: 20px;
    }

    a {
        margin-top: 20px;
    }
}

.feature-list li {
    list-style: none;
    font-size: 18px;
    line-height: 2em;
}

footer {
    text-align: center;
    background: $grayColor;
    height: 60px;
    padding-top: 20px;
}


// About page
.section-title {
    background-color: $primaryColor;
    padding: 10px;
    color: $whiteColor;
}

.section-title small {
    color: #ccc;
}