// Blog style
#blog  {

	img {
		width: 100%;
		margin: 5px 0 15px 0;
		padding: 3px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	a.readmore-blog {
		display: block !important;
		background: #2B8CBC;
		text-align: center;
		padding: 10px 15px;
		margin-top: 20px !important;
		border-radius: 5px;
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			background: #20749D;
		}
	}
}


	

