// header style 

#header {
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 500px;
}

.section-table {
	display: table;
	height: 100%;
	width: 100%;
}

.section-row {
	display: table-row;
}

.section-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.section-center {
	max-width: 550px;
	display: inline-block;
}

#header h1 {
	font-family: Montserrat, sans-serif;
	font-size: 31px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

#header p  {
	color: #fff;
	font-size: 20px;
}

.btn {
	font-family: Montserrat, sans-serif;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 10px;
	border: none;
	color: #fff;
	transition: background 0.5s;
}

.btn-primary {
	background: #7ea4e8;

	&:hover {
		background: #6787c2;
	}
}

.btn-default {
	background: #6a7079;

	&:hover {
		background: #474c52;
		color: #fff;
	}
}